<!DOCTYPE html>
<html lang="en" ng-app="trainerApp" ng-controller="addTrainingCtrl">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-signin-client_id" content="787433281420-16ol1h0areuh13j2egd0339ejrltoaq3.apps.googleusercontent.com">
    <title>addTraining</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
      <link href="lib/select2-3.5.1/select2.css" rel="stylesheet">
      
    <link href="css/js.css" rel="stylesheet">
      

  </head>
  <body>
      
      <!-- ------------------------------------------- HEADER ZONE ------------------------------------------- -->
      <nav class="navbar navbar-inverse" role="navigation">
        <div class=" col-md-10 col-sm-10 col-xs-10 ">
            <form class="navbar-form navbar-left"  style="width:100%" role="search">
                 <button type="submit" class="btn btn-link " style="margin:0px,padding:0px" ng-click="goBack()"><span class="glyphicon glyphicon-arrow-left "></span> </button>
                 <label> <h5 style="color:white"> Add a Training Plan</h5></label>
          </form>
        </div>

          
        <div class=" col-md-2 col-sm-2 col-xs-2 " ng-controller="loginCtrl">
        
        <button type="button" class="btn btn-default" aria-label="Left Align" ng-click="openStats()">
                        <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
                      </button>
            <form class="navbar-form navbar-left"  style="width:100%" role="search" >
               <div ng-hide="isSignedIn">
                  <button type="submit" class="g-signin2" data-onsuccess="onSignIn">G</button>
                  <!-- <button type="submit" class="btn btn-success">Y</button>
                  <button type="submit" class="btn btn-warning">O</button> -->
                </div>
                <div ng-show="isSignedIn" style="color:white">
                  <p>{{userName}}  <a href="" ng-click="signOut()">(signOut)</a></p>
                  <p>{{email}}</p>
                </div>
          </form>
        </div>
      </nav>
      <!-- ------------------------------------------- HEADER ZONE END ------------------------------------------- -->
      
      <form role="form">
          <div class="row" style="margin-bottom:10px">
              <div class=" col-md-1 col-sm-0 col-xs-0 " ></div>
             <div class=" col-md-2 col-sm-2 col-xs-12 ">
                <label for="inputTitle">Title</label>  
             </div>
            <div class=" col-md-6 col-sm-6 col-xs-12 ">
                <input type="text" class="form-control" id="inputTitle" placeholder="Enter your Training plan title"  ng-model="trainingPlan.title">
             </div>
              <div class=" col-md-3 col-sm-4 hidden-xs">
                  <div class=" col-md-4 col-sm-4 hidden-xs">
                     <p id="totalTimeValue"><span class="glyphicon glyphicon-time"></span>{{totaleTime}}</p>
                  </div>
             </div>
        </div>
        <div class="row">
            <div class=" col-md-1 col-sm-0 col-xs-0 " ></div>
            <div class=" col-md-2 col-sm-2 col-xs-12 ">
                <label for="inputDescription">Description</label>  
            </div>
            <div class=" col-md-6 col-sm-6 col-xs-12 ">
                <!--<input type="email" class="form-control" id="inputDescription" placeholder="Enter your Training plan Description">-->
                <textarea id="inputDescription" class="form-control" rows="4" ng-model="trainingPlan.description"></textarea>
            </div>
        </div>
        <div class="row" style="margin-top:10px">
            <div class=" col-md-1 col-sm-0 col-xs-0 " ></div>
            <div class=" col-md-2 col-sm-2 col-xs-12 ">
                <label for="inputDescription">Domain</label>  
            </div>
            <div class=" col-md-6 col-sm-6 col-xs-12 " >
                <p>
                    <select id="e1" class="select2-container populate" style="width:100%" ng-model="trainingPlan.domain">
                        <option value="Running">Running</option>
                        <option value="Volleyball">Volleyball</option>
                        <option value="Boxe">Boxe</option>
                        <option value="BaseBall">BaseBall</option>
                    </select>
                </p>
            </div>
        </div>
        <div class="row">
          <div class=" col-md-1 col-sm-0 col-xs-0 " ></div>
        <div class=" col-md-9 col-sm-12 col-xs-12 " >
          <div class="jumbotron" style="padding:10px">
              
              <div class="row">
                  <div class=" col-md-1 col-sm-1 col-xs-1 " >
                       <button type="button" class="btn btn-success" ng-click="addExercice()">Add an Exercice</button>
                   </div>
                 <div class=" col-md-12 col-sm-12 col-xs-12 " ></div>
              </div>
              <div class="row">
                  <div class=" col-md-2 col-sm-0 col-xs-0 " ></div>
                    <div class=" col-md-2 col-sm-2 col-xs-12 ">
                        <label for="titleDescription">Ex. Title</label>  
                    </div>
                    <div class=" col-md-6 col-sm-6 col-xs-12 ">
                        <input type="text" class="form-control" id="titleDescription" placeholder="Enter your exercice title" ng-model="currentEx.title">
                    </div>
                    <div class=" col-md-2 col-sm-4 col-xs-12 ">
                        <div class="input-group">
                            
                            
                           <input type="number" class="form-control" ng-model="currentEx.minute">
                          <span class="input-group-addon" style="padding:0px">mn</span>
                        

                        </div>
                    </div>
                </div>
              <div class="row" style="margin-top:10px">
               <div class=" col-md-2 col-sm-0 col-xs-0 " ></div>
                <div class=" col-md-2 col-sm-2 col-xs-12 ">
                    <label for="exerciceDescription">Ex. Description</label>  
                </div>
                <div class=" col-md-6 col-sm-6 col-xs-12 ">
                    <!--<input type="email" class="form-control" id="exerciceDescription" placeholder="Enter your exercice title">-->
                    <textarea id="exerciceDescription" class="form-control" rows="4" ng-model="currentEx.description"></textarea>
                </div>
                  <div class=" col-md-2 col-sm-4 hidden-xs">
                       <h1 style="text-align: center;"> <span class="glyphicon glyphicon-time"></span> </h1>
                    </div>
                </div>
        </div>
        </div>
        </div>
          
         <div class=" col-md-1 col-sm-0 col-xs-0 " ></div>
        <div class=" col-md-9 col-sm-12 col-xs-12 " >
                <table class="table table-striped table-condensed">
                    <tr ng-repeat="exercice in trainingPlan.exercices">
                        <td>{{$index+1}}</td>
                        <td>{{exercice.title}}</td>
                        <td class="hidden-xs"><p>{{exercice.description}}</p></td>
                        <td> {{exercice.minute}} mn</td>
                        <td> <button type="submit" class="btn btn-danger btn-sm" ng-click="deleteExercice(exercice)"> <span class="glyphicon glyphicon-remove"></span> </button></td>
                    </tr>

                    
                </table>
             </div>

            
            
    <div class=" col-md-2 ol-sm-0 col-xs-0 " ></div>
    <div class=" col-md-10 ol-sm-5 col-xs-0 " ></div>
    <div class=" col-md-2 ol-sm-5 col-xs-12 text-center" >
        <button type="submit" class="btn btn-danger btn-sm"> <span class="glyphicon glyphicon-remove"></span> </button>
        <button type="submit" class="btn btn-success btn-lg" ng-click="sendTraining()"> <span class="glyphicon glyphicon-ok"></span> </button>
    </div>

 
</form>
   
      
      
      <!-- ------------------------------------------- FOOTER ZONE ------------------------------------------- -->
     <!-- <nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
        <div class=" col-md-10 col-sm-10 col-xs-10 ">
            <form class="navbar-form navbar-left"  style="width:100%" role="search">
                <button type="submit" class="btn btn-danger"> <span class="glyphicon glyphicon-plus-sign"></span> </button>
               <label style="color:white">Add a Training Plan</label>
          </form>
        </div>
      </nav>-->
      <!-- ------------------------------------------- FOOTER ZONE END ------------------------------------------- -->
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
   <script src="lib/jquery-1.11.3.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="lib/bootstrap.min.js"></script>
    <script src="lib/select2-3.5.1/select2.min.js"></script>
     <script src="lib/angular.min.js"></script>
     <script src="bower_components/angular-timer/dist/angular-timer.js"></script>
    <script src="bower_components/momentjs/min/moment.min.js"></script>
    <script src="bower_components/momentjs/min/locales.min.js"></script>
    <script src="bower_components/humanize-duration/humanize-duration.js"></script>
     <script src="lib/angular-cookies.js"></script>
    <script src="js/app/trainerApp.js"></script>
     <script src="js/services/comService.js"></script>
    <script src="js/ctrls/loginCrtl.js"></script>

    <script src="js/ctrls/addTrainingCtrl.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script>
        $(document).ready(function() { $("#e1").select2(); });
    </script>
             
  </body>
</html>