<!DOCTYPE html>
<html lang="en" ng-app="trainerApp" ng-controller="searchCtrl">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-signin-client_id" content="787433281420-16ol1h0areuh13j2egd0339ejrltoaq3.apps.googleusercontent.com">
    <title>Search</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/js.css" rel="stylesheet">
      

  </head>
  <body>
      
      <!-- ------------------------------------------- HEADER ZONE ------------------------------------------- -->
      <nav class="navbar navbar-inverse" role="navigation">
        <div class=" col-md-10 col-sm-10 col-xs-10 ">
            <form class="navbar-form navbar-left"  style="width:100%" role="search">
                <button type="submit" class="btn btn-default" ng-click="search()">Search</button>
                <div class="form-group"  style="width:90%">
                    <input type="text"  style="width:100%" class="form-control" placeholder="Search" ng-model="keyWord">
                </div>
          </form>
        </div>
          
        <div class=" col-md-2 col-sm-2 col-xs-2 " ng-controller="loginCtrl">
            <form class="navbar-form navbar-left"  style="width:100%" role="search">
                <div ng-hide="isSignedIn">
                  <button type="submit" class="g-signin2" data-onsuccess="onSignIn">G</button>
                  <!-- <button type="submit" class="btn btn-success">Y</button>
                  <button type="submit" class="btn btn-warning">O</button> -->
                </div>
                <div ng-show="isSignedIn" style="color:white">
                  <p>{{userName}}  <a href="" ng-click="signOut()">(signOut)</a></p>
                  <p>{{email}}</p>
                </div>
          </form>
        </div>
      </nav>
      <!-- ------------------------------------------- HEADER ZONE END ------------------------------------------- -->
     
      <div class=" col-md-12 col-sm-12 col-xs-12 " style="margin-bottom:40px">
          <h3> Your Domain</h3>
      </div>
      
      <div class=" col-md-12 col-sm-12 col-xs-12">
          <div class=" col-md-3 col-sm-3 col-xs-3 " ng-repeat="training in ListOfTrainings" style="margin-bottom:80px">
            <button type="submit" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-tree-deciduous"></span></button> <label> {{training.title}} </label>
          </div>
                    
       </div>
      
      
      
      <!-- ------------------------------------------- FOOTER ZONE ------------------------------------------- -->
      <nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
        <div class=" col-md-10 col-sm-10 col-xs-10 ">
            <form class="navbar-form navbar-left"  style="width:100%" role="search">
                <button type="submit" class="btn btn-danger" ng-click="openAddTraining()"> <span class="glyphicon glyphicon-plus-sign"></span> </button>
               <label style="color:white">Add a Training Plan</label>
          </form>
        </div>
      </nav>
      <!-- ------------------------------------------- FOOTER ZONE END ------------------------------------------- -->
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
   <script src="lib/jquery-1.11.3.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="lib/bootstrap.min.js"></script>
    <script src="lib/angular.min.js"></script>
    <script src="lib/angular-cookies.js"></script>
    <script src="js/app/trainerApp.js"></script>
    <script src="js/services/comService.js"></script>
    <script src="js/ctrls/loginCrtl.js"></script>
    <script src="js/ctrls/searchCrtl.js"></script>

    <script src="https://apis.google.com/js/platform.js" async defer></script>
  </body>
</html>