<!DOCTYPE html>
<html lang="en" ng-app="trainerApp" ng-controller="statCtrl">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-signin-client_id" content="787433281420-16ol1h0areuh13j2egd0339ejrltoaq3.apps.googleusercontent.com">
    <title>Statistics</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/js.css" rel="stylesheet">
      

  </head>
  <body>
      
      <!-- ------------------------------------------- HEADER ZONE ------------------------------------------- -->
      <nav class="navbar navbar-inverse" role="navigation">
        <div class=" col-md-10 col-sm-10 col-xs-10 ">
            <form class="navbar-form navbar-left"  style="width:100%" role="search">
                 <button type="submit" class="btn btn-link " style="margin:0px,padding:0px" ng-click="back()"><span class="glyphicon glyphicon-arrow-left "></span> </button>
                 <label> <h5 style="color:white"> Back</h5></label>
          </form>
        </div>

       
          
        <div class=" col-md-2 col-sm-2 col-xs-2 " ng-controller="loginCtrl">
         <button type="button" class="btn btn-default" aria-label="Left Align" ng-click="openStats()">
                        <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
                      </button>
            <form class="navbar-form navbar-left"  style="width:100%" role="search">
                <div ng-hide="isSignedIn">
                  <button type="submit" class="g-signin2" data-onsuccess="onSignIn">G</button>
                  <!-- <button type="submit" class="btn btn-success">Y</button>
                  <button type="submit" class="btn btn-warning">O</button> -->
                </div>
                <div ng-show="isSignedIn" style="color:white">
                  <p>{{userName}}  <a href="" ng-click="signOut()">(signOut)</a></p>
                  <p> {{email}}</p>
                </div>
          </form>
        </div>
      </nav>
      <!-- ------------------------------------------- HEADER ZONE END ------------------------------------------- -->
     
      <div class=" col-md-12 col-sm-12 col-xs-12 " style="margin-bottom:40px">
          <h3> Your Personal stats</h3>
      </div>
      
       <div class=" col-md-9 col-sm-12 col-xs-12 " >
            <table class="table table-striped table-condensed">
                <tr>
                    <td><b>TRAINING PLAN</b></td>
                    <td><b>DATE</b></td>
                    <td><b>EXERCICE NAME</b></td>
                    <td><b>COMPLETED</b></td>
                </tr>

                <tr ng-repeat="exo in stats">
                    <td>{{exo.traingPlanName | uppercase}}</td>
                    <td>{{exo.currentDate}}</td>
                    <td>{{exo.exoName}}</td>
                    <td>{{exo.completed}}</td>
                </tr>
            </table>
        </div>
    
      <!-- ------------------------------------------- FOOTER ZONE END ------------------------------------------- -->
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
   <script src="lib/jquery-1.11.3.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="lib/bootstrap.min.js"></script>

    <script src="lib/angular.min.js"></script>
    <script src="bower_components/angular-timer/dist/angular-timer.js"></script>
    <script src="bower_components/momentjs/min/moment.min.js"></script>
    <script src="bower_components/momentjs/min/locales.min.js"></script>
    <script src="bower_components/humanize-duration/humanize-duration.js"></script>
    <script src="lib/angular-cookies.js"></script>
    <script src="js/app/trainerApp.js"></script>
    <script src="js/services/comService.js"></script>
    <script src="js/ctrls/loginCrtl.js"></script>
    <script src="js/ctrls/statsCtrl.js"></script>


    <script src="https://apis.google.com/js/platform.js" async defer></script>
  </body>
</html>